<html><head><meta
charset="utf-8"><meta
name="viewport" content="width=device-width, initial-scale=1"><title>Drive :: Better Informatics</title><style type="text/css">body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
10px}h1,h2,h3{line-height:1.2}</style></head><body>

<header><h1>This is an error. Sorry.</h1></header>

<p>
    I've just introduced a new system to get around the <strong>600 user cap on Google Drive</strong>.
</p>
<p>
    Unfortunately, because you're seeing this error, it seems I broke something.
</p>
<p>
    Pretty pretty please report this error to me so that I can fix it!
</p>
<p>
    You can get in touch at admin@betterinformatics.com.
</p>
<p>
    Clicking on <a href="mailto:admin@betterinformatics.com?subject=BI Drive Error&body=My error was: {{ message }}">this link</a> will start an email with the error included.
</p>

<h2>And the error...</h2>
<code>{{ message }}</code>
</body>
</html>
