<html><head><meta
charset="utf-8"><meta
name="viewport" content="width=device-width, initial-scale=1"><title>Drive :: Better Informatics</title><style type="text/css">body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
10px}h1,h2,h3{line-height:1.2}</style></head><body>

<header><h1>This is an error. Sorry.</h1></header>

<p><strong>If the below error says something like '... does not have sufficient permissions for this file'...</strong></p>
<p>... then we've hit the <strong>600 user cap on Google Drive</strong>. Please email me if you're a new user and need adding.</p>
<p>You can get in touch at <a href="mailto:admin@betterinformatics.com">admin@betterinformatics.com</a></p>

<h2>And the error...</h2>
<code>{{ message }}</code>
</body>
</html>
