<html>
    <head>
        <meta http-equiv="refresh" content="5; url={{ url }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Drive :: Better Informatics</title>
        <style type="text/css">body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
10px}h1,h2,h3{line-height:1.2}
        </style>
    </head>
    <body>
        <header><h1>Redirecting in 5 seconds...</h1></header>

        <p>
            We've just added you to the Drive, but Google can be a bit slow.
        </p>
        <p>
            If you see a page with a button asking you to request access, please don't click it! Give it a minute and refresh.
        </p>
        <p>
            If it doesn't work, you can get in touch at admin@betterinformatics.com.
        </p>
    </body>
</html>
